# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.apk
*.aab
*.ipa

# Environment variables
.env*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
